/** HTML & NAVBAR -------------------------------------------------------------------------------------------------------------------------------- */
html{
    overflow-x: hidden!important;
    margin:0;
    padding: 0;
    font-family : 'Caviar Dreams', sans-serif;
}

.ombre{
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow   : 0px 4px 5px 0px rgba(0,0,0,0.5);
    box-shadow        : 0px 4px 5px 0px rgba(0,0,0,0.5);
}

.text-vert{
    color:#228b22!important;
}

img {
    border-radius: 2%;
}

/* taille logo navbar */
    img#logo{
        width: 100px;
    }

/*opacité navbar */
    .navbar{
        z-index: 1000;
        opacity: .8;
        background-color: white;
    }

/* text navbar */
    .text-vert a{
        font-size: 25px;
        color:#228b22!important;
    }

    .text-vert a:hover{
        color:#228b22!important;
    }

/* bordure navbar mobile */
    .dropdown-menu {
        border:none!important
    }

/* effet hover sur navbar */
    .text-shadow-pop-bottom:hover {
        -webkit-animation: text-shadow-pop-bottom 0.6s both;
                animation: text-shadow-pop-bottom 0.6s both;
    }

    @-webkit-keyframes text-shadow-pop-bottom {
        0% {
            text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
            -webkit-transform: translateY(0);
                    transform: translateY(0);
        }
        100% {
            text-shadow: 0 1px #555555, 0 2px #555555, 0 3px #555555, 0 4px #555555, 0 5px #555555, 0 6px #555555, 0 7px #555555, 0 8px #555555;
            -webkit-transform: translateY(-8px);
                    transform: translateY(-8px);
        }
    }
    @keyframes text-shadow-pop-bottom {
        0% {
            text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
            -webkit-transform: translateY(0);
                    transform: translateY(0);
        }
        100% {
            text-shadow: 0 1px #555555, 0 2px #555555, 0 3px #555555, 0 4px #555555, 0 5px #555555, 0 6px #555555, 0 7px #555555, 0 8px #555555;
            -webkit-transform: translateY(-8px);
                    transform: translateY(-8px);
        }
    }
  
/* pour ecran au dessus 993px */
    @media (min-width: 993px) { 
        /* taille logo pc */
        img#logo{
            width: 150px;
        }
    }

/** Page 1 bg et titre --------------------------------------------------------------------------------------------------------------------------- */

/* taille background */ 
    #bg{
        position: relative;
        height: 100vh;
        width: 100%;
        overflow: hidden;
    }
/* mise en place page par rapport a l'effet du bg */
    #page1 {
        position: absolute;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        top: 0;
        left:0;
        width: 100%;
        height: auto;
        -webkit-animation: kenburns-top 5s ease-out both;
        animation: kenburns-top 5s ease-out both; 
        z-index: 2!important ;
        background-image: url('../img/mainBG.jpg')  ;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
        min-height: 100vh;
        overflow: hidden;
    }

    @-webkit-keyframes kenburns-top {
        0% {
        -webkit-transform: scale(1) translateY(0);
                transform: scale(1) translateY(0);
        -webkit-transform-origin: 50% 16%;
                transform-origin: 50% 16%;
        }
        100% {
        -webkit-transform: scale(1.25) translateY(-15px);
                transform: scale(1.25) translateY(-15px);
        -webkit-transform-origin: top;
                transform-origin: top;
        }
    }
    @keyframes kenburns-top {
        0% {
        -webkit-transform: scale(1) translateY(0);
                transform: scale(1) translateY(0);
        -webkit-transform-origin: 50% 16%;
                transform-origin: 50% 16%;
        }
        100% {
        -webkit-transform: scale(1.25) translateY(-15px);
                transform: scale(1.25) translateY(-15px);
        -webkit-transform-origin: top;
                transform-origin: top;
        }
    }

/* mise en place page */
    #contenu-page-1{
        z-index: 10;
        position: absolute;
        top:50%;
        display: block;
        color: white;
        font-family : 'Caviar Dreams', sans-serif;
    }

/* titres */
    #contenu-page-1 h1{
        font-family: Impact, Charcoal, sans-serif;  
        font-size: 5rem;
        text-transform: uppercase;
    }   

    #contenu-page-1 h2{ 
        font-size: 2rem;
    } 

/* effet titre */
    .bounce-in-top {
        -webkit-animation: bounce-in-top 1.1s both;
                animation: bounce-in-top 1.1s both;
    }


    @-webkit-keyframes bounce-in-top {
        0% {
        -webkit-transform: translateY(-500px);
                transform: translateY(-500px);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        opacity: 0;
        }
        38% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        opacity: 1;
        }
        55% {
        -webkit-transform: translateY(-65px);
                transform: translateY(-65px);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }
        72% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }
        81% {
        -webkit-transform: translateY(-28px);
                transform: translateY(-28px);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }
        90% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }
        95% {
        -webkit-transform: translateY(-8px);
                transform: translateY(-8px);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }
        100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }
    }
    @keyframes bounce-in-top {
        0% {
        -webkit-transform: translateY(-500px);
                transform: translateY(-500px);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        opacity: 0;
        }
        38% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        opacity: 1;
        }
        55% {
        -webkit-transform: translateY(-65px);
                transform: translateY(-65px);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }
        72% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }
        81% {
        -webkit-transform: translateY(-28px);
                transform: translateY(-28px);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }
        90% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }
        95% {
        -webkit-transform: translateY(-8px);
                transform: translateY(-8px);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }
        100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }
    }
  
/* bouton vert */
    a.btn.bg-vert{
        background-color: white ;
        border-radius: 5%;
    }

    a.btn.bg-vert:hover{
        background-color: #228b22;
        color:white
    }

/* position div decouverte du site */
    #bottom{z-index: 10;
        position: absolute;
        top:90%;
        left: 70vh;
        display: block;
    }

    #bottom a:hover{
    text-decoration: none!important;
    }

    .footer{
        text-align: center; text-decoration: none!important;
    }

    #blocOverlay{
        height    : 130px; 
        transition: box-shadow 500ms;
        margin-top: 8%;
    }

    #blocOverlay:hover{
        box-shadow: 0 -100px 115px -100px white inset; 
        transition: box-shadow 500ms; 
    }

    #discoverSite{
        color: white;  
    }

    #triangle{
        display     : inline-block;
        height      : 0;
        width       : 0;
        border-top  : 25px solid white;
        border-right: 25px solid transparent;
        border-left : 25px solid transparent;
    }

/* pour ecran au dessus 993px */
    @media (min-width: 993px) { 
        #contenu-page-1 h1{
            font-size: 10rem;
        }  
    }


/** Page 2 Introduction ------------------------------------------------------------------------------------------------------------------------ */
#page2 {
    font-family     : 'Caviar Dreams', sans-serif;
    background-color: #f8f8f8;
    z-index         : 995!important;
}

/* effet inversion d'image */
img.effet:hover {
    transform: scaleX(-1);
}

/* couleur grise texte présentation */
    #EntetePresentation{
        color      : #8f8f8f;
    }

/* image des 3 introductions */
    .img_150w_150h{
        max-width : 150px;
        max-height: 150px;
    }

/* pour ecran au dessus 993px */
    @media (min-width: 993px) { 
        #contenu-page-1 h1{
            font-size: 10rem;
        }  
    }

/** Page 3 personnel --------------------------------------------------------------------------------------------------------------------------- */
#page3 {
    font-family: 'Caviar Dreams', sans-serif;
}

.photoPersonnel{
    width: 40%;
    box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.589);
    border       : black solid 1px;
    border-radius: 3%;
}


/*! SOCIAL  BLOCK*/

ul.social-network li {
	display: inline;
}
.social-network a.icoFacebook {
    background-color: white;
    color           : white;
    border          : 1px solid white;
    height          : 50px;
    width           : 50px;
    border-radius   : 50%;
}
.social-network a.icoFacebook:hover {
    background-color:white;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoLinkedin:hover {
	background-color:white;
}

.social-circle li a {
	display              : inline-block;
	position             : relative;
	margin               : 0 auto 0 auto;
	-moz-border-radius   : 50%;
	-webkit-border-radius: 50%;
	border-radius        : 50%;
	text-align           : center;
	font-size            : 20px;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}
.social-circle li a:hover i, .triggeredHover {
	-moz-transform    : rotate(360deg);
	-webkit-transform : rotate(360deg);
	-ms--transform    : rotate(360deg);
	transform         : rotate(360deg);
	-webkit-transition: all 0.8s;
	-moz-transition   : all 0.8s;
	-o-transition     : all 0.8s;
	-ms-transition    : all 0.8s;
	transition        : all 0.8s;
}
.social-circle i {
	color             : black;
	-webkit-transition: all 0.8s;
	-moz-transition   : all 0.8s;
	-o-transition     : all 0.8s;
	-ms-transition    : all 0.8s;
	transition        : all 0.8s;
}

/** Page 4 Forum --------------------------------------------------------------------------------------------------------------------------- */
#page4 {
    font-family     : 'Caviar Dreams', sans-serif;
}

/* effet post */
.postRecent {
    border : 1px solid rgba(0,0,0,0.1);
    padding: 0px !important;
    margin : 0px !important;
}
.postRecent:hover{
    transition: background-color 1s;
    background-color:  #228b22; 
    color: white;
}

/* pour ecran au dessus 993px */
@media (min-width: 993px) { 
    .photoPersonnel{
        width: 30%;
    }
}


